name: runtests

on:
  push:
    paths: ['Project.toml', '**.jl', '!docs/**', '.github/workflows/runtests.yml']
    branches:
        - main
        - revision
  pull_request:
    paths: ['Project.toml', '**.jl', '!docs/**', '.github/workflows/runtests.yml']

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
    actions: write
    contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version == 'nightly' }}
    strategy:
      matrix:
        version:
          #- 'min'
          #- 'lts'
          - '1'
        os:
          - ubuntu-latest
          - macOS-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
